<%= link_to list_path(list), class:"text-decoration-none" do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= list.name  %>
  </div>
  <button data-action="click->toggle#fire" class="btn btn-outline-info">Edit</button>
  <%= link_to "Delete", list_path(list),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "btn btn-outline-danger" %>
  <div class="card-footer text-muted">
    <small>
      Created <%= time_ago_in_words(list.created_at) %> ago,
      edited <%= time_ago_in_words(list.updated_at) %> ago
    </small>
  </div>
<% end %>
